@import "base/reset";
@import "base/common";


body {

}

main {
  padding: 10px;
}

section {
  text-align: center;
  margin-top: 45px;
}

section#loading {
  display: none;
  h1 {
    font-size: 5em;
  }
}

section#date {}

section#date h1 {
    font-size: 5em;
}

.quote {
  font-size: 4em;
  display: flex;
  flex-wrap: wrap;
  min-width: 720px;
  transition: 1s transform;

  .side {
    flex: 1 1 1px;

    > span {
      display: inline-block;
    }
  }

  .left {
    text-align: right;
    padding-right: 16px;
  }

  .right {
    text-align: left;
    padding-left: 16px;

    .symbol span {
      margin-left: 0.2em;
    }
  }

  .equal {
    margin: 0px 13px 0px 13px;
    flex: inherit;
  }

}

.times {
  font-size: 4em;
  text-align: center;
  padding-left: 3em;
}

.hidden {
  display:none;
}
