body {
  width: 100vw;
  overflow-x: hidden;
}

main {
  padding: 10px;
}

section {
  text-align: center;
  margin-top: 45px;
}

section#loading {
  display: none;
  h1 {
    font-size: 5em;
  }
}

section#date {
}

section#date h1 {
  font-size: 5em;
}

section#start {
  width: 120%;
  margin-left: -20%;
}

.quote {
  font-size: 6vw;
  display: flex;
  width: 100%;
  transition: 1s transform;

  &.satBtc {
    margin-top: -4vw;
  }

  .side {
    flex: 1 1 0;
    flex-wrap: nowrap;
    display: flex;
    align-items: flex-start;
    .symbol {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 9vh;
      > span {
        margin-left: 2vw;
        margin-top: 0%;
        position: relative;
      }
    }

    .numbers {
      position: relative;
    }
    .digits {
      .digit {
        display: inline-block;
      }

      &.prefix .digit {
        display: none;
      }
    }
  }

  .left {
    text-align: right;
    padding-right: 1vw;
    justify-content: flex-end;
  }

  .right {
    text-align: left;
    padding-left: 1vw;
    justify-content: flex-start;
  }

  .equal {
    margin: 0px 13px 0px 13px;
    flex: inherit;
  }
}

.times {
  font-size: 4em;
  text-align: center;
  padding-left: 3em;
}

.hidden {
  display: none;
}
